/* *{
    background-color:white;
} */

.search-card{
    /* background-color: black; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:white;
    margin-top:-110px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:15px;
    align-items: center;
    /* border: solid black 1px; */
    border-radius: 1.5rem;
    height: 150px;
    width:400px;
}

.container{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.input-container{
    width:100%;
    display:flex;
    justify-content: space-evenly;
}

.input{
    display:flex;
    gap: 5px;
}

.image-container{
    border-radius: 50%;
}